@{
ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <form id="form-actions" action="#">
            <div class="form-group">
                <label for="button-actions lead">I need to:</label>
                <select class="form-control" name="button-actions" id="button-actions">
                    <option value="button-action-2">Play</option>
                    <option value="button-action-3">Drink</option>
                    <option value="button-action-1">Panic</option>
                </select>
            </div>
            <div class="perspect">
                <button class="custom-btn btn-8g" type="submit">
                    GO!
                </button>
            </div>
        </form>
    </div>
</div>