@{
ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="perspect">
        <a href="#" data-action="action-play" class="custom-btn">Play</a>
        </div>
        <div class="perspect">
            <a href="#" data-action="action-drink" class="custom-btn">Drink</a>
        </div>
        <div class="perspect">
            <a href="#" data-action="action-panic" class="custom-btn">Panic</a>
        </div>
    </div>
</div>
