@{
ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <article>
            <h1>Push</h1>
            <p>
                
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </article>
</div>