@{
ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="perspect">
            <a href="#" data-id="00e04c0385ef" class="custom-btn">Play</a>
        </div>
        <div class="perspect">
            <a href="#" data-id="00e04c0385ef" class="custom-btn">Drink</a>
        </div>
        <div class="perspect">
            <a href="#" data-id="00e04c0385ef" class="custom-btn">Panic</a>
        </div>
    </div>
</div>
